<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
	<title>Hypermedia Learning</title>
</head>

<body style="font-family:'Outfit',sans-serif;">
	<h1>This is Contact Us Page</h1>
	<main>
		<h3>This is all that this app will do</h3>
		<ol>
			<li>
				View a list of contacts, including first name, last name, phone and email address
			</li>
			<li>
				Search the contacts
			</li>
			<li>
				Add a new contact
			</li>
			<li>
				View the details of a contact
			</li>
			<li>
				Edit the details of a contact
			</li>
			<li>
				Delete a contact
			</li>
		</ol>
	</main>
</body>

</html>
